#buttonBar {
	margin: 15px;
}

#cardContent {
	text-align: center;
}
#tags {
	color: #aaa;
	font-size: 12px;
}
#deckPane {
	width: 25%;
	background: #eee;
}
#deckHeading {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}
#deckList {
	margin: 0;	
}
#deckList li {
	font-weight: normal;	
}
#flashcardPane {
	width: 75%;
}
#flashcardPane .ui-bar {
	border: 1px solid #aaa;
}
#flashcardList {
	margin: 0;
}
#flashcardList label {
	border: none;
	width: 40px;
	margin: 0;
}
#flashcardList .ui-checkbox {
	float: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

.ui-content {
	padding: 0px;
}
