
.flashcard-content {
	text-align: center;
	position: fixed;
	top: 80px;
	bottom: 100px;
	left: 0;
	right: 0;
}

.known-button {
	bottom: 50px;
	right: 50px;
	position: fixed;
}

.flashcard-info {
	font-size: small;
	color: #aaa;
}
.bottom-pane {
	position: fixed;
	bottom: 50px;
}

.flashcard_question, .flashcard_answer {
	top: 30%;
	position: fixed;
	width: 100%;
	color: #333;
}

#breadcrumbs {
	margin-bottom: 25px;
}

#filter_list {
	
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.my-hidden {
	display: none;
}

@media all and (min-width: 450px){
	.ui-field-contain label.ui-select { 
		width: 22%;
	}
	.ui-field-contain label.ui-input-text  {
		width: 22%;
	}
}
